<phpunit bootstrap="vendor/autoload.php">
	<php>
		<ini name="error_reporting" value="E_ALL" />
	</php>

	<testsuites>
		<testsuite name="Application">
			<directory>test</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<report>
			<clover outputFile="clover.xml"/>
		</report>
	</coverage>
</phpunit>
